<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="Open menu"
    (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">{{ 'TOOLBAR.TITLE' | translate }}</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-button
    class="lang-icon"
    aria-label="Open languages"
    [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let language of languages"
        (click)="onLanguageClick(language)">
        {{ language | uppercase }}
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
